@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background-color: #192A51;
}

.scrollText {
  width: 300px;
  margin-top: -60px;
  margin-left: -90px;
  font-size: 38px;;
}
.container {
  width: 100%;
  height: 100%;
  /* background-color: #c9d6df; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}
.scroll {
  top: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  opacity: 1;
  transition: opacity 0.5s ease;
  font-family: 'Dancing Script', cursive;
  color: #fff;
}
.scroll::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 20px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}


.name {
  display: flex;
  font-size: 60px;
  align-items: flex-start;
  color: #000;
  justify-content: center;
  opacity: 1;
}

span {
  position: sticky;
  height: 100px;
  display: inline-flex;
  align-items: center;
  /* mix-blend-mode: overlay; */
  font-family: 'Dancing Script', cursive;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 220px;
  color: white;
}

.c1 {
  top: calc(40% - 100px);
  margin-top: 100vw;
}

.c2 {
  top: calc(40% - 100px);
  margin-top: 110vw;
}

.c3 {
  top: calc(40% - 100px);
  margin-top: 120vw;
}

.c4 {
  top: calc(40% - 100px);
  margin-top: 130vw;
}

.c5 {
  top: calc(40% - 100px);
  margin-top: 140vw;
}

.c6 {
  top: calc(60%);
  margin-top: 150vw;
  margin-left: -200px;
}

.c7 {
  top: calc(60%);
  margin-top: 160vw;
}

.c8 {
  top: calc(60%);
  margin-top: 170vw;
}

.c9 {
  top: calc(60%);
  margin-top: 180vw;
}

.c10 {
  top: calc(60%);
  margin-top: 190vw;
}

.c11 {
  top: calc(60%);
  margin-top: 200vw;
}

.c12 {
  top: calc(60%);
  margin-top: 220vw;
}

/* a {
  position: sticky;
  bottom: -80px;
  width: 180px;
  text-align: center;
  right: 0;
  padding: 10px 20px;
  float: right;
  font-family: 'Dancing Script', cursive;
  mix-blend-mode: overlay;
  color: #fff;
  font-size: 15px;
  z-index: 1;
  background-color: #000;
  border-radius: 20px 0 0;
  text-decoration: none;
} */

.scroll {
  position: fixed;
  bottom: 0;
  pointer-events: none;
}

@media (max-width: 660px) {
  a {
    display: none;
  }
  
  span {
    font-size: 15vw;
  }
}


*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.stack__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.1), 0 -1px 2px rgba(0,0,0,0.25);
}

.stack__card:nth-child(1) {
  background-color: #192A51;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .static-text {
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.wrapper .dynamic-texts {
  margin-left: 20px;
  height: 95px;
  line-height: 95px;
  overflow: hidden;
}
.dynamic-texts li {
  list-style: none;
  color: #FC6D6D;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 6s steps(2) infinite;
}
@keyframes slide {
  100% {
    top: -235px;
  }
}
.dynamic-texts li span {
  color: #FC6D6D;
  position: relative;
  margin: -1px 0;
  font-size: 70px;
  line-height: 95px;
  font-family: 'Poppins', sans-serif;
}
.dynamic-texts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #192A51;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

/* .waviy {
  margin-top: 100px;
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}
.waviy span {
  height: 100px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 5s infinite;
  animation-delay: calc(.1s * var(--i));
  font-size: 65px;
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
} */

.socials ul {
  display: flex;
  margin-top: 120px;
}
.socials ul li {
  list-style: none;
  margin: 0 10px;
  height: 90px;
  width: 90px;
  color: #bae8e8;
  border: 2px solid #bae8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transition: all ease 0.3s;
}

.socials ul li:hover {
  color: #2c698d;
  background: #bae8e8;
  cursor: pointer;
}

.socials ul a {
  text-decoration: none;
}
.download-icon {
  color: #bae8e8;
  font-size: 50px;
}
.download-icon:hover {
  color: #2c698d;
  font-size: 50px;
}
.social-download-list {
  display: inline-block; /* or display: block; if you want the <li> to be a block element */
  position: relative;
  padding: 0; /* Remove any padding to ensure the <input> takes the full size */
}
.social-download-list:hover {
  color: #2c698d;
  background: #bae8e8;
  cursor: pointer;
}

.download-icon input {
  width: 180%;
  height: 100%;
  opacity: 0; /* Hide the actual button, but keep it interactive */
  position: absolute;
  top: 0;
  left: -20px;
  cursor: pointer;
}



.scrollText-1 {
  width: 450px;
  margin-top: -60px;
  margin-left: -160px;
  font-size: 38px;;
}
.field-1 {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.scroll-1 {
  margin-top: 200px;
  top: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  opacity: 1;
  transition: opacity 0.5s ease;
  font-family: 'Dancing Script', cursive;
  color: #fff;
}
.scroll-1::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 20px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}


.stack__card:nth-child(2) {
  background-color: #192A51;
}
.stack__card:nth-child(3) {
  background-color: #192A51;
}
.stack__card:nth-child(4) {
  background-color: #192A51;
}
.stack__card:nth-child(5) {
  background-color: #192A51;
}